.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.input-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 48%;
}

.input-field label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.input-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

.submit-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.form-message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}

.form-message.success {
    background-color: #4caf50; /* Зеленый цвет для успешного сообщения */
    color: #fff;
}

.form-message.error {
    background-color: #ff4d4d; /* Красный цвет для сообщения об ошибке */
    color: #fff;
}

.checkbox-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px;
}

.checkbox-item {
    display: flex;
    align-items: center;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-item input {
    margin-right: 5px;
}

.toggle-button {
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #0056b3;
}
